@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "Nanum Gothic";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: url("./NanumGothic-Bold.ttf") format("truetype")

}